*	{/*website is borderless*/
	margin: 0;
	padding: 0;
}


html, body	{
	width: 100%;
	height: 100%;
	background-color: #FAEBD7;
}

.container	{/*contains entire body of website*/
	width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}


.topPane	{/*contains header of website*/
	width: 100%;
  	height: 200px;
  	border-collapse: collapse;
	color: #FFFAFA;
  	background-color: #000080;
	background-image: linear-gradient(to right, #000080, white);
}
.emblemImage {
	width:  200px;
	height: 200px;
}


.leftPane 	{/*left side of website with navigations*/
    width: 15%;
	height: 1250px;
	position: relative;
	padding-bottom: 0px;
    float: left;
	bottom: 0;
    background-color: #FFFAFA;
}
.section	{
	float: left;
	margin: 0;
	width: 100%;
	list-style-type: none;
	border-bottom: 1px solid black;
}
.section1	{
	float: left;
	margin: 0;
	width: 100%;
	list-style-type: none;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.left	{
	display: block;
    color: black;
    text-align: left;
    padding: 15px 15px;
    text-decoration: none;
}


.middlePane 	{/*contains middle of website with main content*/
    width: 65%;
	height: 1250px;
    float: left;
    background-color: #FAEBD7;
    border-collapse: collapse;
	position: relative;
	bottom: 0;
}
.center	{
	margin: auto;
	width: 80%;
	padding: 10px;
	padding-top: 100px;
	padding-bottom: 75px;
	text-align: left;
}
p {
	text-indent: 50px;
}


.rightPane 	{/*contains right side of website with current events*/
  	width: 15%;
	height: 1250px;
  	position: relative;
  	float: right;
	margin: 0;
	bottom: 0;
	padding: 0p;
	padding-top: 50px;
  	background-color: #FAEBD7;
	text-align: center;
}
h5 {
	text-transform: uppercase;
}
.event {
	text-decoration: underline;
	text-indent: 0px;
}
.event1 {
	display: block;
	border-bottom: 1px solid black;
}


.topSection	{/*for header with home, events, sign up, and contact us*/
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #FFFAFA;
}
li	{
    float: right;
}
.topRow	{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #6495ED;
}


.bottomPane	{/*footer of website*/
	width: 100%;
	height: 30px;
	bottom: 0;
	position: absolute;
	background: #FFFAFA;
}